---
import { getCollection } from "astro:content";
import Layout from "../../layouts/BlogPost.astro";
import { filterPostsByTag } from "./tag-utils";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = posts.map((post) => post.data.tags || []).flat();
  const uniqueTags = [...new Set(tags)];
  return uniqueTags.map((tag) => ({
    params: { tag },
    props: { tag },
  }));
}

const { tag } = Astro.props;
const posts = filterPostsByTag(await getCollection("blog"), tag);
---

<Layout
  title={`Posts tagged: ${tag}`}
  description={`All posts tagged with '${tag}'.`}
  pubDate={new Date()}
  tags={[]}
  categories={[]}
  draft={false}
  heroImage="/blog-placeholder-about.jpg"
>
  <section>
    <h2 class="text-2xl font-bold mb-4">Posts tagged: {tag}</h2>
    <ul>
      {
        posts.map((post: any) => (
          <li>
            <a
              href={`/blog/${post.id}/`}
              class="block group text-accent hover:underline"
            >
              {post.data.title}
            </a>
          </li>
        ))
      }
    </ul>
    {posts.length === 0 && <p>No posts found for this tag.</p>}
  </section>
</Layout>
